{
  "rules": {
      "no-console": 0,
      "no-underscore-dangle": 0,
      "no-unused-vars": [
          "error",
          {
              "argsIgnorePattern": "next"
          }
      ],
      "no-use-before-define": [
          "error",
          {
              "variables": false
          }
      ],
      "no-multi-str": 0,
      "import/prefer-default-export": 0,
      "import/no-extraneous-dependencies": 0,
      "no-restricted-syntax": ["error", "ForInStatement", "LabeledStatement", "WithStatement"],
      "class-methods-use-this": "off"
  },
  "env": {
      "node": true,
      "mocha": true
  },
  "parserOptions": {
      "ecmaVersion": 11
  },
  "extends": [
      "airbnb-base"
  ]
}